<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Cart App Miguel Cabrera</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
        <fa-icon [icon]="faHome"></fa-icon>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" (click)="openCart()" role="button">
          <fa-icon [icon]="faCart"></fa-icon>
          Cart {{items.length}}
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light rounded-pill px-3 py-2 d-flex align-items-center gap-2 logout-btn" (click)="logoutUser()">
          <fa-icon [icon]="faLogout"></fa-icon>
          Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>
</nav>
