<app-alert></app-alert>
<div class="login-container">
  <div class="card shadow-lg p-4 login-card">
    <h3 class="text-center mb-4">
      {{ isRegisterMode ? 'Crear Cuenta' : 'Iniciar Sesión' }}
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      @if (isRegisterMode) {
      <div class="mb-3">
        <label class="form-label label-black">Nombre Completo</label>
        <input type="text" class="form-control" formControlName="fullName">
      </div>
      }
      <!-- Email -->
      <div class="mb-3">
        <label class="form-label label-black">Correo Electrónico</label>
        <input type="email" class="form-control" formControlName="emailId"
          [ngClass]="{'is-invalid': submitted && loginForm.get('emailId')?.invalid && loginForm.get('emailId')?.touched}">

        <small class="text-danger" *ngIf="loginForm.get('emailId')?.touched && loginForm.get('emailId')?.invalid">
          El correo es obligatorio
        </small>
        <div *ngIf="loginForm.get('emailId')?.hasError('emailId')">
          Formato de correo inválido
        </div>
      </div>
      <!-- Password -->
      <div class="mb-3">
        <label class="form-label label-black">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" class="form-control"
          [ngClass]="{'is-invalid': submitted && f['password'].invalid}">
        <ng-container>
          <small class="text-danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            La contraseña es obliogatoria
          </small>
          <small *ngIf="f['password'].hasError('minlength')">
            Mínimo 6 caracteres
          </small>
        </ng-container>
      </div>
      <!-- Botón -->
      <div class="d-grid mb-3">
        <button class="btn btn-primary btn-lg">
          {{!isRegisterMode ? 'Iniciar Sesión' : 'Crear cuenta' }}
        </button>
      </div>

      <!-- Crear cuenta -->
      <div class="text-center">
        @if (!isRegisterMode) {
        <span class="text-muted">
          ¿No tienes cuenta?
        </span>
        }
        @if (isRegisterMode) {
        <span class="text-muted">
          ¿Ya tienes cuenta?
        </span>
        }
        <a (click)="toggleMode()" class="text-decoration-none fw-bold ms-1" style="cursor:pointer">

          {{ isRegisterMode ? 'Iniciar Sesión' : 'Crear cuenta' }}

        </a>
      </div>
    </form>
  </div>
</div>
